<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">{{title}}<i class="fas fa-book-open ml-2"
        style="color: #4e5052;"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#"><i class="fas fa-user mr-3" style="color: #28acc9;"></i>Ahmad Sufyan</a>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <app-buku></app-buku>
</div>

<!-- footer -->
<footer class="text-center mt-5">
  <pre>bookstore-2020</pre>
</footer>
